PORT=5000
DATABASE_URL="file:./dev.db"
# For PostgreSQL use:
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chembridge_db?schema=public"
JWT_SECRET="chembridge_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"
